@keyframes tonext {
    75% {
      left: 0;
    }
    95% {
      left: 100%;
    }
    98% {
      left: 100%;
    }
    99% {
      left: 0;
    }
  }
  
  @keyframes tostart {
    75% {
      left: 0;
    }
    95% {
      left: -300%;
    }
    98% {
      left: -300%;
    }
    99% {
      left: 0;
    }
  }
  
  @keyframes snap {
    96% {
      scroll-snap-align: center;
    }
    97% {
      scroll-snap-align: none;
    }
    99% {
      scroll-snap-align: none;
    }
    100% {
      scroll-snap-align: center;
    }
  }
  
  *::-webkit-scrollbar {
    width: 0;
  }
  
  *::-webkit-scrollbar-track {
    background: transparent;
  }
  
  *::-webkit-scrollbar-thumb {
    background: transparent;
    border: none;
  }
  
  * {
    -ms-overflow-style: none;
  }
  
  ol, li {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  .carousel {
    margin-top: 50px;
    position: relative;
    padding-top: 15%;
    filter: drop-shadow(0 0 10px #0003);
    perspective: 100px;
  }   
  
  .carousel__viewport {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    overflow-x: scroll;
    scroll-behavior: smooth;
    scroll-snap-type: x mandatory;
    width: 25%;
    margin: 0 auto;
}
  
  .carousel__slide {
    position: relative;
    flex: 0 0 100%;
    width: 100%;
    background-position-x: center;
    background-repeat: no-repeat;
  }
  
  .carousel__slide:nth-child(1) {
    background-image: url("../img/carouselImages/005-js.png");
  }

  .carousel__slide:nth-child(2) {
    background-image: url("../img/carouselImages/006-css-3.png");
  }
  
  .carousel__slide:nth-child(3) {
    background-image: url("../img/carouselImages/003-html.png");
  }
  .carousel__slide:nth-child(4) {
    background-image: url("../img/carouselImages/icons8-reaccionar-nativo-144.png");
  }
  .carousel__slide:nth-child(5) {
    background-image: url("../img/carouselImages/icons8-node-js-144.png");
  }
  .carousel__slide:nth-child(6) {
    background-image: url("../img/carouselImages/002-bootstrap.png");
  }

  .carousel__slide:before {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate3d(-50%,-40%,70px);
    color: #fff;
    font-size: 2em;
  }
  
  .carousel__snapper {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    scroll-snap-align: center;
  }
  
  @media (hover: hover) {
    .carousel__snapper {
      animation-name: tonext, snap;
      animation-timing-function: ease;
      animation-duration: 4s;
      animation-iteration-count: infinite;
    }
  
    .carousel__slide:last-child .carousel__snapper {
      animation-name: tostart, snap;
    }
  }
  
  @media (prefers-reduced-motion: reduce) {
    .carousel__snapper {
      animation-name: none;
    }
  }
  
  .carousel:hover .carousel__snapper,
  .carousel:focus-within .carousel__snapper {
    animation-name: none;
  }
  
  .carousel__navigation {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    text-align: center;
  }
  
  .carousel__navigation-list,
  .carousel__navigation-item {
    display: inline-block;
  }
  
  .carousel__navigation-button {
    display: inline-block;
    width: 1.5rem;
    height: 1.5rem;
    background-color: #333;
    background-clip: content-box;
    border: 0.25rem solid transparent;
    border-radius: 50%;
    font-size: 0;
    transition: transform 0.1s;
  }
  
  .carousel::before,
  .carousel::after,
  .carousel__prev,
  .carousel__next {
    position: absolute;
    top: 0;
    margin-top: 37.5%;
    width: 4rem;
    height: 4rem;
    transform: translateY(-50%);
    border-radius: 50%;
    font-size: 0;
    outline: 0;
  }
  
.tecnologies{
    margin-top: 100px;
    width: 100%;
    height: 40px;
}

.tecnologies h1{
    text-align: center;
    font-weight: 100;
    color: rgb(88, 76, 76);
}

@media(max-width:1024px){
  .carousel__navigation {
    bottom: -15px;
  }
}

@media(max-width:768px){
  .carousel {
    padding-top: 21%;
  }
}

@media(max-width:600px){
  .carousel {
    padding-top: 25%;
  }
}

@media(max-width:414px){
  .carousel__viewport {
    width: 40%;
  }
  .carousel {
    padding-top: 39%;
  }
}

@media(max-width:375px){
  .menu ul {
    margin-top: 60px;
    padding-left: 0px;
  }
  .principal-container h1 {
    padding-left: 19px;
    font-size: 50px;
  }
}

@media(max-width:360px){
  .menu {
    margin-left: 45%;
  }
  .menu ul {
    margin-top: 54px;
    padding-left: 0px;
  }
  .principal-container h1 {
    font-size: 47px;
  }
  .principal-container h2 {
    font-size: 15px;
  }
  .body button {
    width: 151px;
    height: 44px;
    font-size: 13px;
  }
  .box p {
    font-size: 15px;
  }
}

@media(max-width:360px){
  .carousel {
    padding-top: 43%;
  }
}

@media(max-width:320px){
  .principal-container h1 {
      font-size: 45px;
  }
  .menu {
      margin-left: 38%;
  }    
  .images {
    width: 100%;
}
.carousel {
  padding-top: 47%;
}
.carousel__viewport {
  width: 50%;
}
}